.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
        p
            strong.mr-2 Estándar: 
            | Que sirve de patrón, modelo o punto de referencia para medir o valorar cosas de la misma especie.  
        hr

        p
            strong.mr-2 Talla: 
            | Expresión normalizada que permite identificar a las personas para el uso de prendas de vestir. 
        hr

       
        