.container
    .card
        .card-body                     
            .container.pr-0.pl-4.border-bot-morado    
                .header-ecored 
                    h2#tema-20.texto-morado 2. Alistamiento para elaboración de muestra física 1
                p.my-5 En primer lugar se abordarán las generalidades, aplicaciones e importancia de la fundamentación técnica básica en reconocimiento y manejo de máquinas de confección; conceptos básicos en puntadas, costuras, agujas, tejidos, entre otros criterios específicos de la relación aguja-hilo, aguja-tejido, hilo-tejido, preparación y puesta a punto de las máquinas, especificaciones técnicas y de calidad en las operaciones de confección. De igual manera se abordarán temas pertinentes al cuidado y seguridad de las diferentes máquinas de confección. 

            .container.pr-0.pl-4.border-bot-morado    
                .header-ecored 
                    h2#tema-21.texto-morado 2.1 Tipos de máquinas
                .row.mt-5.pl-3 
                    .col-12.col-md-6 
                        p.texto-25.font-weight-bold La identificación de las máquinas y equipos de confección, permiten #[strong.texto-morado optimizar, facilitar y distribuir, los diferentes procesos de confección. ] 
                    .col-12.col-md-6.mt-4.mt-md-0.pr-5 
                        p Con base en lo anterior, el concepto de identificación, establece las características de cada máquina, usos dentro del proceso de confección, tipos de máquinas según el tipo de líneas de producción, tipos de puntada y aplicaciones, tipos de tomadores de lazada, tipos de alimentación (arrastre de tela).
                    .col-12.mt-5.pr-5 
                        p La identificación de máquinas se puede agrupar por procesos productivos como: #[strong preparación, ensamble y terminación.] También por líneas de producción como: interior, exterior, Jean, hogar, deportivo, entre otras. Y se pueden agrupar por tipos de máquinas como: doble pespunte, cadeneta, sobrehilado, de ciclo.    
                        p.mt-5 Por lo tanto, las clasificaciones de las máquinas comienzan por su capacidad de confección. Las máquinas, en su construcción por la potencia que poseen al coser materiales y su velocidad, se dividen en:
                        
                .card.px-5.border-0
                    .card-body.p-5

                        nav.nav-tab-ecored2.my-5
                            #nav-tab.nav.nav-tabs.text-center(role='tablist')
                                a#nav-01-tab.nav-item.nav-link.active.col-3.align-self-center(data-toggle='tab', href='#nav-01', role='tab', aria-controls='nav-01', aria-selected='true') 
                                    strong Máquinas familiares o domésticas
                                a#nav-02-tab.nav-item.nav-link.col-3.align-self-center(data-toggle='tab', href='#nav-02', role='tab', aria-controls='nav-02', aria-selected='false') 
                                    strong Máquinas semi-industriales
                                a#nav-03-tab.nav-item.nav-link.col-3.align-self-center(data-toggle='tab', href='#nav-03', role='tab', aria-controls='nav-03', aria-selected='false') 
                                    strong Máquinas industriales
                                a#nav-04-tab.nav-item.nav-link.col-3.align-self-center(data-toggle='tab', href='#nav-04', role='tab', aria-controls='nav-04', aria-selected='false') 
                                    strong Máquinas de ciclo
                                
                            #nav-tabContent.tab-content.bg-morado-transparente
                                #nav-01.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-01-tab')
                                    .row.p-5
                                        .col-12.col-md-4
                                            img(src="assets/images/pages/tema-4/tema-4-1.png").img-fluid
                                        .col-12.col-md-8.pr-5  
                                            p Máquinas que por su versatilidad poseen las siguientes características
                                            p.mt-5.font-weight-bold ▪  Muy baja velocidad (500 a 1000 rpm)
                                            p.mt-5 #[strong ▪  Muy baja potencia]  
                                            p.mt-5 #[strong ▪  Facilidad para desplazarlas] (portátiles en su gran mayoría)
                                            p.mt-5 #[strong ▪  Lubricación manual]
                                            p.mt-5 #[strong ▪  Materiales] de sus elementos (en la gran mayoría de plástico)
                                            p.mt-5 #[strong ▪  Diversidad de puntadas:] costura recta, Zigzag 1 y 3 pasos, ojal recto, pegar botón, algunas pueden hacer puntadas decorativas 
                                                   
                                #nav-02.tab-pane.fade(role='tabpanel', aria-labelledby='nav-02-tab')
                                    .row.p-5
                                        .col-12.col-md-4
                                            img(src="assets/images/pages/tema-4/tema-4-11.png").img-fluid
                                        .col-12.col-md-8.pr-5  
                                            p Sus características se acercan más a la industria, pero todavía no alcanza el rendimiento productivo:
                                            p.mt-5.font-weight-bold ▪  Velocidad. (1725 rpm)
                                            p.mt-5 #[strong ▪  Potencia media,]  permite coser mayores capas de material que las familiares.
                                            p.mt-5 #[strong ▪  Lubricación manual] en la gran mayoría de casos (en la actualidad vienen con bomba de lubricación).
                                            p.mt-5 #[strong ▪  Diversidad de puntadas:] costura recta, Zigzag sencillo, ojal recto, pegar botón, pegar apliques.
                                            
                                #nav-03.tab-pane.fade(role='tabpanel', aria-labelledby='nav-03-tab')
                                    .row.p-5
                                        .col-12.col-md-4
                                            img(src="assets/images/pages/tema-4/tema-4-12.png").img-fluid
                                        .col-12.col-md-8.pr-5  
                                            p Con estos tipos de máquinas, se inicia en el mundo de la productividad, calidad, optimización de recursos en la diversa actualidad del sistema moda, entre sus características están:
                                            p.mt-5.font-weight-bold ▪  Velocidad, llegan a alcanzar hasta 6,000 R.P.M
                                            p.mt-5 #[strong ▪  Potencia alta]  permite trabajar varias capas de material por su gran capacidad de penetración de los mecanismos de puntada
                                            p.mt-5 #[strong ▪  Lubricación automática] 
                                            p.mt-5 #[strong ▪  Existen maquina industriales como:] zigzag sencillo, doble o triple, plana de una y dos agujas, de coser y cortar, fileteadoras sencillas, de refuerzo o seguridad, recubridoras o collarín, pretinadora, multiagujas, cerradora de codo, Flatseamer, entre otras
        
                                #nav-04.tab-pane.fade(role='tabpanel', aria-labelledby='nav-04-tab')
                                    .row.p-5
                                        .col-12.col-md-4
                                            img(src="assets/images/pages/tema-4/tema-4-13.png").img-fluid
                                        .col-12.col-md-8.pr-5  
                                            p Son aquellas que están construidas para cumplir una función específica en un ciclo como hacer un ojal, pegar un botón o un aplique, hacer una presilla entre otras. En este tipo de máquina, el operador solo tiene que ubicar el material, accionar un mando y la máquina en un ciclo realiza la operación. Entre las comunes están:
                                            p.mt-5.font-weight-bold ▪  Presilladora
                                            p.mt-5 #[strong ▪  Botonadora]  
                                            p.mt-5 #[strong ▪  Ojaladora de ojal recto] 
                                            p.mt-5 #[strong ▪  Ojaladora de ojal de lagrima] 
                        .row.mt-5 
                            .col-12 
                                p Con base en los diferentes tipos de máquinas por estructura, tipo o trabajo, las partes del cabezote se dividen en cuatro y es importante describirlas porque es donde se aloja el conjunto de elementos mecánicos que dan origen a los mecanismos de las máquinas, estas partes se conocen como:
                                h3.mt-5.mb-0.texto-morado ▪  Cabeza  ▪  Brazo  ▪  Columna  ▪  Cama
                                p.mt-5 Y es, esta última, la que cobra #[strong vital importancia en el origen de las operaciones más relevantes de un producto a confeccionar], bien sea, por su dificultad, complejidad, tiempo de producción, calidad, entre otros. Algunos tipos de máquinas pueden modificar la cama e incluso el mueble de la máquina para adaptarse mejor a las condiciones del producto, es por ello por lo que si se trabaja con prendas de gran volumen podemos encontrar términos en máquinas como:
                        .row.mt-5
                            .col-12.col-md-4 
                                img(src="assets/images/pages/tema-4/tema-4-2.svg").img-fluid
                            .col-12.col-md-4.pt-4.pt-md-0 
                                img(src="assets/images/pages/tema-4/tema-4-3.svg").img-fluid
                            .col-12.col-md-4.pt-4.pt-md-0 
                                img(src="assets/images/pages/tema-4/tema-4-4.svg").img-fluid
                        .row.mt-5 
                            p Retomando #[strong el aspecto más importante sobre las camas de las máquinas], se clasifican en:                         

                .card.border-0
                    .card-body

                        nav.nav-tab-ecored.my-5
                            #nav-tab.nav.nav-tabs.text-center(role='tablist')
                                a#nav-05-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-05', role='tab', aria-controls='nav-05', aria-selected='true') 
                                    strong Plana
                                a#nav-06-tab.nav-item.nav-link.col(data-toggle='tab', href='#nav-06', role='tab', aria-controls='nav-06', aria-selected='false') 
                                    strong Cilíndrica o de brazo 
                                a#nav-07-tab.nav-item.nav-link.col(data-toggle='tab', href='#nav-07', role='tab', aria-controls='nav-07', aria-selected='false') 
                                    strong Cilíndrica transversal o de codo
                                a#nav-08-tab.nav-item.nav-link(data-toggle='tab', href='#nav-08', role='tab', aria-controls='nav-08', aria-selected='false') 
                                    strong Poste
                                a#nav-09-tab.nav-item.nav-link(data-toggle='tab', href='#nav-09', role='tab', aria-controls='nav-09', aria-selected='false') 
                                    strong Tipo zócalo
                                
                            #nav-tabContent.tab-content
                                #nav-05.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-05-tab')
                                    .row.mt-5
                                        .col-12.col-md-4.offset-md-2.align-self-center 
                                            p Este tipo de cama #[strong facilita la manipulación del material en costuras de cocido recto y materiales anchos.] 
                                        .col-12.col-md-4.align-self-center
                                            img(src="assets/images/pages/tema-4/tema-4-5.svg").img-fluid 
                            
                                #nav-06.tab-pane.fade(role='tabpanel', aria-labelledby='nav-06-tab')
                                    .row.mt-5
                                        .col-12.col-md-4.offset-md-2.align-self-center 
                                            p Permite coser partes cilíndricas en su perímetro, su estructura es especialmente adecuada para trabajar piezas tubulares tales como puños, mangas, materiales cerrados entre otros. Este tipo de cama también se emplea en la máquina de pegar botones. 
                                        .col-12.col-md-4.align-self-center
                                            img(src="assets/images/pages/tema-4/tema-4-7.png").img-fluid     
                                
                                #nav-07.tab-pane.fade(role='tabpanel', aria-labelledby='nav-07-tab')
                                    .row.mt-5
                                        .col-12.col-md-4.offset-md-2.align-self-center 
                                            p La zona cosida es transportada a lo largo del brazo hacia fuera. Permite coser partes cilíndricas o tubulares, operaciones tales como cerrar mangas, cerrar piernas de pantalón o Jean, entre otros. 
                                        .col-12.col-md-4.align-self-center
                                            img(src="assets/images/pages/tema-4/tema-4-8.png").img-fluid 
                            
                                #nav-08.tab-pane.fade(role='tabpanel', aria-labelledby='nav-08-tab')
                                    .row.mt-5
                                        .col-12.col-md-4.offset-md-2.align-self-center 
                                            p  Se emplea en aplicaciones especiales que requieren el trabajo en tres dimensiones. La columna facilita el trabajo en zonas curvas y en esquina. Operaciones de marroquinería como confección de calzado y bolsos, entre otros.
                                        .col-12.col-md-4.align-self-center
                                            img(src="assets/images/pages/tema-4/tema-4-9.png").img-fluid
                                #nav-09.tab-pane.fade(role='tabpanel', aria-labelledby='nav-09-tab')
                                    .row.mt-5
                                        .col-12.col-md-4.offset-md-2.align-self-center 
                                            p Este tipo de máquina se especializa en coser sólo al canto de costura. Costuras elásticas y de sobrehilado.  
                                        .col-12.col-md-4.align-self-center
                                            img(src="assets/images/pages/tema-4/tema-4-10.png").img-fluid
                p.my-5 En este punto, teniendo clara la descripción de las camas de las máquinas y contemplando que pueden cambiar por varios factores, uno de ellos por sus aplicaciones, bien sea en confección de ropa, de calzado, en marroquinería o tapicería, se continuará con las partes de la máquina.

            .container.pr-0.pl-4.border-bot-morado    
                .header-ecored 
                    h2#tema-22.texto-morado 2.2 Partes de la máquina     
                p.my-5 Durante el proceso de reconocimiento de las máquinas por su capacidad de confección, ahora entran aspectos generales y otros particulares sobre los diferentes tipos de máquinas que se trabajarán a continuación.
                
                <div id="carouselExampleControls" class="carousel slide mb-5" data-interval="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            .row.mx-0.border-carousel.p-5.rounded
                                .col-12.col-md-5.offset-1
                                    <img src="assets/images/pages/tema-4/tema-4-6.svg" class="d-block" alt="...">
                                .col-12.col-md-5.ml-5.align-self-center 
                                    h3.mb-0.texto-morado Aspectos generales: 
                                    p.mt-5 ▪  Porta conos
                                    p ▪  Cabezote o cabeza de la máquina 
                                    p ▪  Mueble 
                                    p ▪  Herraje 
                                    p ▪  Motor
                                    p ▪  Interruptor
                                    p ▪  Pedal
                        </div>
                        <div class="carousel-item">
                            .row.mx-0.border-carousel.p-5.rounded
                                .col-8.align-self-center.offset-2.my-5 
                                    h3.mb-0.texto-morado Aspectos particulares:
                                    p.mt-5 Algunas partes de las máquinas, se construyen con aspectos particulares, esto se debe a la posición, la forma y la función que cumple dentro de la máquina.
                                    p.mt-5 Por ejemplo: el regulador de puntada en las #[strong máquinas planas y fileteadoras], cumple la misma función, pero no se mueve igual y no se encuentran en la misma posición; sin embargo, se hablará de algunos elementos importantes dentro de la formación de la puntada, tales como:
                                    p.mt-5 #[strong ▪  Tensores:] este mecanismo tiene como función regular la tensión del hilo de la aguja y controlar la alimentación del hilo para la formación de la puntada.
                        </div>
                        <div class="carousel-item">
                            .row.mx-0.border-carousel.p-5.rounded
                                .col-8.align-self-center.offset-2.my-5 
                                    p #[strong ▪  Guía hilos: ] sirve para guiar el hilo durante todo su recorrido.
                                    p.mt-4 #[strong ▪  Palanca tira hilo:] es un dispositivo que tira la cantidad de hilo justa de la aguja desde su suministro. Suelta la cantidad necesaria para la formación de la puntada y saca el hilo sobrante para fijar las puntadas. 
                                    p.mt-4 #[strong ▪  Regulador de puntada:] regula el tamaño de la puntada, mientras menos es él número más pequeña es la puntada.
                                    p.mt-4 #[strong ▪  Barra de aguja:] su movimiento es rectilíneo vertical, sostiene la aguja en posición.
                                    p.mt-4 #[strong ▪  Barra prénsatela:] barra que sujeta el prénsatela o pie de la máquina.
                                    p.mt-4 #[strong ▪  Tornillo regulador presión prénsatelas:] este tornillo sirve para regular la presión que hay entre él prénsatelas y la alimentación.
                                    p.mt-4 #[strong ▪  Ajuste (diente, planchuela, prénsatela):] elementos que se ajustan a cada tipo de material o tejido, bien sea liviano, semi pesado o pesado.
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                
                .col-10.m-auto
                    #cardvideo
                        .row.my-5
                            .col
                                .card
                                    .embed-responsive.embed-responsive-16by9
                                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/rbhZjRQwRsg', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')                     
                
                .row.mt-5.px-5 
                    .col-12.col-md-6 
                        p.texto-25.font-weight-bold En la industria de la confección; las telas, los hilos, las agujas y demás materiales #[strong.texto-morado son muy variables,] a esto se le suma #[strong.texto-morado  los diseños que son cambiantes con el tiempo] (temporadas). 
                    .col-12.col-md-5.mt-4.mt-md-0.pr-5 
                        p Por ejemplo: ropa interior, ropa hogar, calzado, ropa exterior, carpas protectoras, velas de viento, maletas, estuches etc. 
                        p.mt-5 Para poder realizar cualquier operación en una de estas prendas se necesita de una combinación de costura que se le llama ajuste.
                    .col-12.my-5.pr-5 
                        p Muchos problemas de costura como el deslizamiento de la tela y el fruncido de la costura pueden solucionarse comprendiendo los tipos, funciones de los alimentadores y prénsatelas (ajustes). Para poder entender el desplazamiento de los materiales a coser y los problemas que estos nos pueden ocasionar por una mala selección del ajuste, se debe entender el funcionamiento y la importancia de cada uno de los elementos que lo componen en los diferentes tipos de máquina.    
                        p.mt-5 Se manejan dos tipos de ajuste, uno, en las máquinas de una sola aguja, máquinas de dos o más agujas; esto permite que se ajusten las máquinas según el tipo de material a trabajar, si el liviano (lycras), si es semipesado (dacrón) o si es pesado (Jean); y el otro ajuste, describe la distancia entre agujas y debido a ello, entra otro elemento en el conjunto y es el soporte de las agujas. En complemento, el ajuste deriva básicamente en el agarre del diente respecto al tipo de tela, por lo que a continuación se detalla cada componente del ajuste. 

            .container.pl-1.pl-md-5 
                .row 
                    .col-12.col-md-11.mx-5
                        #accordionExample.accordion.mt-5
                            .card
                                #heading1.card-header
                                    h2.mb-0
                                        button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapse1', aria-expanded='true', aria-controls='collapse1').pl-0
                                            p.mb-0.collapsable-title.d-flex.align-items-center.texto-morado Ajuste de #[strong.ml-2 plana]
                                #collapse1.collapse.show(aria-labelledby='heading1', data-parent='#accordionExample')
                                    .card-body
                                        .row
                                            .col-12.col-md-4 
                                                img(src="assets/images/pages/tema-5/tema-5-1.svg").img-fluid
                                            .col-12.col-md-4 
                                                img(src="assets/images/pages/tema-5/tema-5-2.svg").img-fluid
                                            .col-12.col-md-4 
                                                img(src="assets/images/pages/tema-5/tema-5-3.svg").img-fluid
                            .card
                                #heading2.card-header
                                    h2.mb-0
                                        button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapse2', aria-expanded='true', aria-controls='collapse2').pl-0
                                            p.mb-0.collapsable-title.d-flex.align-items-center.texto-morado Ajuste de máquina #[strong.ml-2 dos agujas]
                                #collapse2.collapse.show(aria-labelledby='heading2', data-parent='#accordionExample')
                                    .card-body
                                        .row
                                            .col-12.col-md-12.text-center
                                                img(src="assets/images/pages/tema-5/tema-5-31.png").img-fluid
                            .card
                                #heading3.card-header
                                    h2.mb-0
                                        button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapse3', aria-expanded='true', aria-controls='collapse3').pl-0
                                            p.mb-0.collapsable-title.d-flex.align-items-center.texto-morado Planchuelas  #[strong.ml-2 fileteadoras]
                                #collapse3.collapse.show(aria-labelledby='heading3', data-parent='#accordionExample')
                                    .card-body
                                        .row
                                            .col-6.col-md-6.text-center
                                                img(src="assets/images/pages/tema-5/tema-5-32.png").img-fluid
                                            .col-6.col-md-6.text-center
                                                img(src="assets/images/pages/tema-5/tema-5-33.png").img-fluid
                                        .row
                                            .col-6.col-md-6.text-center
                                                img(src="assets/images/pages/tema-5/tema-5-34.png").img-fluid
                                            .col-6.col-md-6.text-center
                                                img(src="assets/images/pages/tema-5/tema-5-35.png").img-fluid
                            .card
                                #heading4.card-header
                                    h2.mb-0
                                        button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapse4', aria-expanded='true', aria-controls='collapse4').pl-0
                                            p.mb-0.collapsable-title.d-flex.align-items-center.texto-morado Ajuste #[strong.ml-2  recubridora en D]  
                                #collapse4.collapse.show(aria-labelledby='heading4', data-parent='#accordionExample')
                                    .card-body
                                        .row
                                            .col-12.col-md-12.text-center
                                                img(src="assets/images/pages/tema-5/tema-5-36.png").img-fluid
                            .card
                                #heading5.card-header
                                    h2.mb-0
                                        button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapse5', aria-expanded='true', aria-controls='collapse5').pl-0
                                            p.mb-0.collapsable-title.d-flex.align-items-center.texto-morado Ajuste #[strong.ml-2 recubridora en F]
                                #collapse5.collapse.show(aria-labelledby='heading5', data-parent='#accordionExample')
                                    .card-body
                                        .row
                                            .col-12.col-md-12.text-center
                                                img(src="assets/images/pages/tema-5/tema-5-37.png").img-fluid
                            .card
                                #heading6.card-header
                                    h2.mb-0
                                        button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapse6', aria-expanded='true', aria-controls='collapse6').pl-0
                                            p.mb-0.collapsable-title.d-flex.align-items-center.texto-morado #[strong.ml-2 Diente]
                                #collapse6.collapse.show(aria-labelledby='heading6', data-parent='#accordionExample')
                                    .card-body
                                        .row.px-1.px-md-5
                                            p.mt-5 Este dispositivo mecánico #[strong es el encargado de desplazar el material a coser]; el diente para #[strong poder desplazar el material debe sujetarlo, esa función la realiza con la parte superior que hace contacto con la tela y en el momento que comienza a transportarlo] por efecto de la fricción la tela se incrusta entre la separación de los dientes y es así como el diente desplaza el material.
                                            p.mt-5 Los dientes vienen de diferentes tamaños, para diferenciarlos se debe medir la cantidad de dientes que haya en una pulgada o la separación existente entre ellos, si se mide en mm (milímetros). #[strong.texto-morado Para seleccionar los dientes se debe tener en cuenta el material a confeccionar.]
                                            .col-12.col-md-6.mt-5.align-self-center 
                                                img(src="assets/images/pages/tema-5/tema-5-4.svg").img-fluid
                                            .col-12.col-md-6.mt-5 
                                                p Los dientes se identifican de, #[strong 16,18, 20 y 24 dientes por pulgada para telas tejidas normales], para materiales compactos como el cuero y lonas se identifican dientes hasta de 2.5mm de separación, también se identifican piramidales, cuando supera los 24 dientes por pulgada como en las familiares. Además, #[strong se debe tener en cuenta la cantidad de hileras del diente.]
                                            .col-12.col-md-6.mt-5.pt-4 
                                                p Cuando se selecciona el diente inadecuado puede suceder lo siguiente.
                                                p.mt-5 #[strong.texto-morado Si la separación del diente es grande y el material delgado,] cuando el diente transporta la tela esta se incrusta entre el diente haciendo olas, dando como resultado una costura con recogido.
                                            .col-12.col-md-6.mt-5.pt-4.align-self-center 
                                                img(src="assets/images/pages/tema-5/tema-5-5.svg").img-fluid
                                            .col-12.col-md-6.mt-5.pt-4.align-self-center 
                                                img(src="assets/images/pages/tema-5/tema-5-6.svg").img-fluid
                                            .col-12.col-md-6.mt-5.pt-4 
                                                p #[strong.texto-morado Si la separación del diente es pequeña y el material grueso,] cuando el diente transporta, la tela no es sujetada por el diente ocasionando pega y daños en el material.
                            .card
                                #heading7.card-header
                                    h2.mb-0
                                        button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapse7', aria-expanded='true', aria-controls='collapse7').pl-0
                                            p.mb-0.collapsable-title.d-flex.align-items-center.texto-morado #[strong.ml-2 Prénsatelas]
                                #collapse7.collapse.show(aria-labelledby='heading7', data-parent='#accordionExample')
                                    .card-body
                                        .row.px-1.px-md-5
                                            p Es el encargado de apoyar el material contra el diente para que pueda ser transportado, la presión que se le debe dar al prénsatelas varía de acuerdo con el material, porque si la presión no es la adecuada la apariencia de la costura no es la requerida.
                                            p.mt-5 Se debe tener en cuenta que el prénsatelas solo hace contacto con la tela superior, problemas por una presión inadecuada en el prénsatelas:
                                            p    ▪	Cuando la presión es demasiada el diente en su ascenso puede dañar la tela, o como la fricción con la tela superior es demasiada al terminar la costura la tela superior es más extensa que la inferior con una apariencia lisa por encima y recogida por debajo.
                                            p    ▪	Cuando la presión es poca, la tela no alcanza a incrustarse en el diente ocasionando que esta se pegue y varía la cantidad de puntadas por pulgada.
                                            p.mt-5 #[strong.texto-morado Nota:] el ancho de la base del pie prénsatelas debe de ser igual al ancho del diente y cubrirlo en un 90% de su recorrido.

                            .card
                                #heading7.card-header
                                    h2.mb-0
                                        button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapse7', aria-expanded='true', aria-controls='collapse7').pl-0
                                            p.mb-0.collapsable-title.d-flex.align-items-center.texto-morado #[strong.ml-2 Planchuela]
                                #collapse7.collapse.show(aria-labelledby='heading7', data-parent='#accordionExample')
                                    .card-body
                                        .row.px-1.px-md-5
                                            p Es la que sirve de apoyo al material cuando el diente se encuentra regresando, además viene provista de un orificio que es el lugar de penetración de la aguja, este orificio varía de acuerdo al ajuste pues él debe de ser un 40% más amplio que la hoja de la aguja. La planchuela tiene carriles, estos deben ser iguales al número de carriles del diente además el diente debe de desplazarse en la totalidad del carril de la plancha.
                            .card.mb-5
                                #heading8.card-header
                                    h2.mb-0
                                        button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapse8', aria-expanded='true', aria-controls='collapse8').pl-0
                                            p.mb-0.collapsable-title.d-flex.align-items-center.texto-morado Tomador de #[strong.ml-2 Lanzada]
                                #collapse8.collapse.show(aria-labelledby='heading8', data-parent='#accordionExample')
                                    .card-body
                                        .row.px-1.px-md-5.border-bot-morado 
                                            .col-12
                                                p.mt-5 Es el elemento mecánico que junto con la aguja #[strong se encarga de formar la puntada.] Estos elementos son auxiliados algunas veces en la formación de la puntada por otros elementos mecánicos.
                                                p.mt-5.font-weight-bold Clases de tomadores de lazada:
                                                p Los más reconocidos son:
                                            .col-12.col-md-4.my-5.text-center 
                                                img(src="assets/images/pages/tema-5/tema-5-7.svg").img-fluid
                                            .col-12.col-md-8.mt-5.pt-4 
                                                p #[strong.texto-morado ▪  Gancho rotatorio:]es un elemento mecánico que, junto con la aguja, sirve para formar las puntadas pertenecientes a la serie 300 (doble pespunte) dando revoluciones completas.
                                        .row.px-1.px-md-5.border-bot-morado 
                                            .col-12.col-md-9.pt-5 
                                                p #[strong.texto-morado ▪  Corchete:] este elemento es utilizado para producir la puntada de cadeneta a un hilo, siempre da revoluciones completas, si la máquina tiene alimentación, trabaja sólo con la aguja, pero si esto sólo tiene transporte, necesita de un elemento auxiliar llamado extensor, para compensar la falta del alzador en máquina.
                                            .col-12.col-md-3.mt-2.text-center 
                                                img(src="assets/images/pages/tema-5/tema-5-8.svg").img-fluid
                                        .row.px-1.px-md-5.border-bot-morado
                                            .col-12.col-md-3.my-1.text-center
                                                img(src="assets/images/pages/tema-5/tema-5-9.svg").img-fluid
                                            .col-12.col-md-9.mt-5
                                                p #[strong.texto-morado ▪  Extensor:] este elemento mecánico es utilizado en la mayoría de las veces como auxiliar de los Looper, corchetes, para formar varios tipos de puntadas de diferentes series.
                                        .row.px-1.px-md-5.border-bot-morado 
                                            .col-12.col-md-9.pt-5 
                                                p #[strong.texto-morado ▪  Looper:] es un elemento que tiene hilo propio o sea se puede enhebrar como las agujas, es decir tiene ojo.  Se usa para la elaboración de las puntadas de las series 400, 500, 600.
                                            .col-12.col-md-3.my-3.text-center 
                                                img(src="assets/images/pages/tema-5/tema-5-10.svg").img-fluid
                                        .row.px-1.px-md-5.border-bot-morado
                                            .col-12.col-md-3.my-1.text-center
                                                img(src="assets/images/pages/tema-5/tema-5-11.svg").img-fluid
                                            .col-12.col-md-9.my-4
                                                p #[strong.texto-morado ▪  Recubridor:] elemento mecánico que sin llevar ojo guía para el hilo, si lleva hilo, el cual extiende sobre la tela superior al formar la puntada de cadeneta con recubridor, dicho hilo es sostenido por el hilo de la aguja, cada que el material avance. Ejemplo: La puntada utilizada en algunas prendas interiores tanto para dama como para hombre, usada para unir el resorte con la tela.
                                        .row.px-1.px-md-5.border-bot-morado 
                                            .col-12.col-md-9.pt-5 
                                                p #[strong.texto-morado ▪  Lanzadera: ] es un elemento mecánico que, junto con la aguja, sirve para formar las puntadas pertenecientes a la serie 300 (doble pespunte), su movimiento es oscilatorio.
                                            .col-12.col-md-3.my-3.text-center 
                                                img(src="assets/images/pages/tema-5/tema-5-12.svg").img-fluid
            
            .container.pl-1.pl-md-5
                .header-ecored
                    h2#tema-23.texto-morado 2.3 Alimentación o transporte (arrastre)
                .row.mx-5
                    p.mt-5  De manera estrecha la relación que tiene el ajuste con la alimentación o transporte (arrastre) es también factor diferenciador en la identificación de maquinaria para el proceso productivo. Sin embargo, #[strong los diferentes tipos de alimentación definen de algún modo el tipo de línea productiva del producto a realizar] y más aún la cantidad de materiales que se utilizan en la industria como tejidos, no tejidos, aglomerados, cueros, cuerinas, lonas y de más.
                    p.mt-5 Cuando se habla de alimentación en la maquinaria de confección #[strong se refiere al desplazamiento del material a coser], pero en algunos casos no se desplaza el material si no la máquina esto debido al peso del material como es cerrar un colchón.
                                           
                .card.border-0
                    .card-body

                        nav.nav-tab-ecored3.my-5
                            #nav-tab.nav.nav-tabs.text-center(role='tablist')
                                a#nav-10-tab.nav-item.nav-link.active.col-2(data-toggle='tab', href='#nav-10', role='tab', aria-controls='nav-10', aria-selected='true') 
                                    strong Oscilante sencillo
                                a#nav-11-tab.nav-item.nav-link.col-2(data-toggle='tab', href='#nav-11', role='tab', aria-controls='nav-11', aria-selected='false') 
                                    strong Alimentación combinada
                                a#nav-12-tab.nav-item.nav-link.col-2(data-toggle='tab', href='#nav-12', role='tab', aria-controls='nav-12', aria-selected='false') 
                                    strong Doble transporte
                                a#nav-13-tab.nav-item.nav-link.col-2(data-toggle='tab', href='#nav-13', role='tab', aria-controls='nav-13', aria-selected='false') 
                                    strong Triple transporte
                                a#nav-14-tab.nav-item.nav-link.col-2(data-toggle='tab', href='#nav-14', role='tab', aria-controls='nav-14', aria-selected='false') 
                                    strong Alimentación continua
                                a#nav-15-tab.nav-item.nav-link.col-2(data-toggle='tab', href='#nav-15', role='tab', aria-controls='nav-15', aria-selected='false') 
                                    strong Alimentación por diferencial

                                
                            #nav-tabContent.tab-content
                                #nav-10.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-10-tab')
                                    .row.mt-5 
                                        .col-8.offset-1.offset-md-2.text-center
                                            img(src="assets/images/pages/tema-5/tema-5-13.svg").img-fluid
                                        .col-10.offset-0.offset-md-1
                                            p.mt-5 Este tipo de alimentación lo realiza el diente siguiendo cuatro pasos y solo la secuencia se invierte cuando se remata, los pasos son los siguientes.
                                            p.mt-5 #[strong Paso 1:] el diente sube y aparecen justamente encima de la pancha de aguja.
                                            p.mt #[strong Paso 2:] los dientes desplazan el material a coser.
                                            p.mt #[strong Paso 3:]  los dientes decienten hasta la parte inferior de la plancha.
                                            p.mt #[strong Paso 4:] Nota: este tipo de alimentación lo utilizan la mayoría de las máquinas.
                                            h3.my-5.texto-morado Nota: este tipo de alimentación lo utilizan la mayoría de las máquinas.                                                  
                                #nav-11.tab-pane.fade(role='tabpanel', aria-labelledby='nav-11-tab')
                                    .row.mt-5 
                                        .col-8.offset-1.offset-md-2.text-center
                                            img(src="assets/images/pages/tema-5/tema-5-38.png").img-fluid
                                        .col-10.offset-0.offset-md-1
                                            p.mt-5 Este tipo de alimentación es realizada por el diente y la aguja, o sea que la barra de aguja también tiene cuatro pasos y se combinan con el diente para desplazar el material.
                                            h3.my-5.texto-morado Nota: Este tipo de alimentación es más utilizado en las máquinas de dos agujas.

                                #nav-12.tab-pane.fade(role='tabpanel', aria-labelledby='nav-12-tab')
                                    .row.mt-5 
                                        .col-8.offset-1.offset-md-2.text-center
                                            img(src="assets/images/pages/tema-5/tema-5-40.png").img-fluid
                                        .col-10.offset-0.offset-md-1
                                            p.mt-5 Las máquinas que tienen este tipo de alimentación, visualmente parece que tuvieran un prénsatelas dividido en dos partes, pero solo al accionarla se observa que la mitad del pie se levanta y hace un movimiento al unísono con el diente para desplazar el material a coser, este diente superior tiene cuatro pasos como lo hace la barra de aguja en la alimentación combinada, la diferencia es que el diente no penetra en el otro, sino que es por contacto con el material que este lo desplaza.
                                            h3.my-5.texto-morado Nota: Este tipo de alimentación es muy utilizado en las máquinas de guarnecer.
                                #nav-13.tab-pane.fade(role='tabpanel', aria-labelledby='nav-13-tab')
                                    .row.mt-5 
                                        .col-8.offset-1.offset-md-2.text-center
                                            img(src="assets/images/pages/tema-5/tema-5-41.png").img-fluid
                                        .col-10.offset-0.offset-md-1
                                            p.mt-5 Es el tipo de alimentación más pesado que se conoce, son tres los encargados de desplazar el material a coser, y es la combinación de todas las anteriores. El material es desplazado por diente inferior, aguja y diente superior.
                                #nav-14.tab-pane.fade(role='tabpanel', aria-labelledby='nav-14-tab')
                                    .row.mt-5 
                                        .col-10.offset-0.offset-md-1
                                            p.mt-5 Este tipo alimentación como su nombre lo dice es constante, o sea que el material no se detiene siempre está siendo desplazado en el momento de costura, es empleado principalmente en algunas máquinas autómatas como la ojaladora sencilla y en máquinas automáticas como las ribeteadoras y pagadoras de bolsillo.
                                #nav-15.tab-pane.fade(role='tabpanel', aria-labelledby='nav-15-tab')
                                    .row.mt-5 
                                        .col-8.offset-1.offset-md-2.text-center
                                            img(src="assets/images/pages/tema-5/tema-5-39.png").img-fluid
                                        .col-10.offset-0.offset-md-1
                                            p.mt-5 Aquel que está formado por un par de dientes independientes, con movimiento propio cada uno de ellos, su sincronización es idéntica oscilante sencillo, se utiliza para hacer que uno de los dientes tenga un mayor o igual recorrido que el otro de acuerdo con las necesidades, ya sea para recoger o estirar la tela.

            .container.pl-1.pl-md-5
                .header-ecored 
                    h2#tema-24.texto-morado 2.4 Generaciones de máquinas
                .row.mx-5
                    p En esa búsqueda de reconocer e identificar los diferentes tipos de máquinas, tipos de camas, ajustes, partes y funciones, se encuentran las generaciones tecnológicas dentro de las cuales presentan #[strong mejores alternativas al proceso de confección] para poder aumentar o disminuir áreas de costura, tipos de puntadas, fruncidos de tela, entre otros.
                    p.mt-5 Actualmente las máquinas de coser se pueden clasificar en tres tipos según el nivel tecnológico:

                <div id="carouselExampleControls2" class="carousel slide my-5" data-interval="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            .row.mx-0.border-carousel-morado.p-1.p-md-5.rounded.bg-gris-claro
                                .col-12.col-md-3.offset-0.offset-md-1
                                    <img src="assets/images/pages/tema-5/tema-5-14.svg" class="d-block" alt="...">
                                .col-12.col-md-6.ml-1.ml-md-5.align-self-center 
                                    p.mb-0.texto-morado Máquinas de #[strong primera generación] 
                                    p.mt-5 Máquinas convencionales sin ningún tipo de ayudas, en este tipo de máquinas el operador realiza el 90% de las operaciones de la máquina como: levantar el prénsatelas, posicionar la aguja para retirar el material, cortar los hilos, hacer atraques y otras operaciones más.
                        </div>
                        <div class="carousel-item">
                            .row.mx-0.border-carousel-morado.p-1.p-md-5.rounded.bg-gris-claro
                                .col-12.col-md-3.offset-0.offset-md-1
                                    <img src="assets/images/pages/tema-5/tema-5-14.svg" class="d-block" alt="...">
                                .col-12.col-md-6.ml-1.ml-md-5.align-self-center 
                                    p.mb-0.texto-morado Máquinas de #[strong segunda generación] 
                                    p.mt-5 En este tipo de máquinas el #[strong operador realiza el 50% de las operaciones], debido a que las máquinas vienen provistas con ayudas de tipo electrónico, neumático o electroneumático. 
                                .col-10.offset-0.offset-md-1.mt-5 
                                    p #[strong ▪ Posicionador de aguja:] este tipo de ayuda electrónica posiciona a la barra de aguja en el momento en que el operador deja de accionar el pedal del motor, permitiendo que la aguja quede arriba o abajo según operación a realizar. Esto le permite al operador, #[strong tener las manos libres para realizar otras acciones de costura.]
                                    p.mt-5 #[strong ▪ Cortadores de hilo:]  este tipo de ayuda, corta los hilos automáticamente una vez terminada la operación de costura, con esto se evitan el desperdicio de hilo y tiempos en la operación.
                                    p.mt-5 #[strong ▪ Levantador de prénsatelas:] este tipo de ayuda, le permite al operador levantar el prénsatelas y/o puller en el momento que lo requiera, solamente llevando el pedal hacia atrás. #[strong Esto disminuye la fatiga del operador] debido a que la máquina no necesita rodilleros ni pedales para realizar esta operación, la cual, en algunos casos requiere un gran esfuerzo por parte del operador para vencer la resistencia de los resortes de tensión del prénsatelas.
                                    p.mt-5 #[strong ▪ Tableros de control:] estos tableros le #[strong permiten al operador programar la máquina para que realice algunas operaciones de costura en forma automática] entre otras están: remate inicial, realizar costuras rectas automáticamente, remate final, corte de hilo automático al terminar la operación. Todo dependiendo del tipo de tablero con que esté equipada la máquina.
                        </div>
                        
                        <div class="carousel-item">
                            .row.mx-0.border-carousel-morado.p-1.p-md-5.rounded.bg-gris-claro
                                .col-12.col-md-3.offset-0.offset-md-1
                                    <img src="assets/images/pages/tema-5/tema-5-15.svg" class="d-block" alt="...">
                                .col-12.col-md-6.ml-1.ml-md-5.align-self-center 
                                    p.mb-0.texto-morado Máquinas de #[strong tercera generación] 
                                    p.mt-5 En este tipo de máquinas el operador realiza el 10% de las operaciones y puede incluso operar dos o tres máquinas a la vez. Estas vienen provistas con las ayudas de la generación anterior pero además cuentan con la ayuda de sensores que permiten que las máquinas trabajen casi solas. 
                        </div>
                        <div class="carousel-item">
                            .row.mx-0.border-carousel-morado.p-1.p-md-5.rounded.bg-gris-claro
                                .col-12.col-md-3.offset-0.offset-md-1.align-self-center
                                    <img src="assets/images/pages/tema-5/tema-5-16.svg" class="d-block" alt="...">
                                .col-12.col-md-6.ml-1.ml-md-5.align-self-center 
                                    p.mb-0.texto-morado Máquinas de #[strong ultrasonido] 
                                    p.mt-5 Este tipo de máquinas unen el material por ultrasonido las cuales incorporan un sistema de sonoroso que emite un ultrasonido de 60.000 ciclos contra una rueda transportadora que tiene la forma de una puntada. Podría decirse que produce una soldadura entre las telas y por medio un disco intercambiable puede imitar las puntadas de fileteo, cadeneta y doble pespunte. 
                                    p.mt-5 La única condición es que el material a coser debe estar compuesto de poliéster como mínimo en un 60% de su estructura física.
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>    
            
            .container.pl-1.pl-md-5
                .header-ecored 
                    h2#tema-25.texto-morado 2.5 Clasificación, nomenclatura, puntas, calibres y usos.
                .row.mt-5.px-1.px-md-5 
                    .col-12.col-md-6 
                        p.texto-25.font-weight-bold En la industria de la confección  #[strong.texto-morado existen relaciones entre los insumos y las maquinas]  
                    .col-12.col-md-5.mt-4.mt-md-0.pr-5 
                        p Los cuales garantizan el óptimo desempeño de la producción en términos de calidad, optimización de recursos, productividad entre otras. 
                    .col-12.mt-5 
                        p La relación de insumos genera #[strong unos eslabones que al romperse alguno de ellos ocasiona dificultades], en la tela, en la puntada, en la costura, al estar entrelazados.
                        p.mt-5 Un segundo bloque o módulo de conocimiento, se relaciona directamente con las diferentes características de agujas, puntadas, pespuntes, costuras, entre otros. En confección y particularmente las diseñadoras #[strong deben tener los conocimientos de tejidos, hilos y agujas], generan unos eslabones que se conectan o entrelazan para darle a las puntadas, costuras, tejidos una mejor apariencia, terminación y calidad del producto. Por lo tanto, se debe tener conceptos claros sobre:
                        p.mt-5 #[strong La aguja]
                        p.mt-5 La aguja es un elemento mecánico que sirve para traspasar el material a coser y llevar el hilo hasta un tomador de lazada. Además, es uno de los elementos fundamentales para la invención de la máquina de coser, ya que es alrededor de la aguja, como nacen todas las ideas para su desarrollo.                                       
                        p.mt-5 #[strong De la aguja se deben considerar tres aspectos importantes:]
                    .col-12.mt-5.text-center 
                        img(src="assets/images/pages/tema-5/tema-5-17.svg").img-fluid
                    .col-12.mt-5 
                        .row.mx-0.border-carousel-morado.p-1.p-md-5.rounded.bg-gris-claro
                                .col-12.border-bot-morado
                                    .row
                                        .col-12.col-md-5.col-lg-6.align-self-center.mb-4
                                            p.font-weight-bold Calibre 
                                            p.mt-5 El calibre de las agujas #[strong varía de acuerdo al grosor del material a coser], por ejemplo, para lycras 65 y 70, para tejidos de punto 70, 80 y 90, para driles y Jean 100, 110 y 125.
                                        .col-12.col-md-7.col-lg-6.align-self-center 
                                            .col-12.my-3 
                                                table(style='width:100%')
                                                    tr.text-white.bg-morado-oscuro.text-center
                                                        th.py-3 Métrico
                                                        th Inglés
                                                        th Equivalencia mm 
                                                    tr.text-center
                                                        td.pt-4 70
                                                        td.pt-4.font-weight-bold 10
                                                        td.pt-4.font-weight-bold 0.7
                                                    tr.text-center
                                                        td 80
                                                        td.p-1.font-weight-bold 12
                                                        td.font-weight-bold 0.8
                                                    tr.text-center
                                                        td 90
                                                        td.p-1.font-weight-bold 14
                                                        td.font-weight-bold 0.9
                                                    tr.text-center
                                                        td 100
                                                        td.p-1.font-weight-bold 16
                                                        td.font-weight-bold 1
                                                    tr.text-center
                                                        td 110
                                                        td.p-1.font-weight-bold 18
                                                        td.font-weight-bold 1.1
                                                    tr.text-center
                                                        td 120
                                                        td.p-1.font-weight-bold 20
                                                        td.font-weight-bold 1.2
                                .col-12.border-bot-morado
                                    .row.mt-4
                                        .col-12.col-md-5.col-lg-6.align-self-center.mb-4
                                            p.font-weight-bold Sistema o referencia 
                                            p.mt-5 Indica la aguja que se necesita para el tipo de máquina. 
                                        .col-12.col-md-7.col-lg-6.align-self-center 
                                            .col-12.my-3 
                                                table(style='width:100%')
                                                    tr.text-white.bg-morado-oscuro.text-center
                                                        th.py-3 Máquina
                                                        th Tipo de aguja
                                                    tr.text-center
                                                        td.pt-4 Plana
                                                        td.pt-4 16 x 231 cabo delgado
                                                    tr.text-center
                                                        td 
                                                        td.p-1 135 x 15 cabo grueso
                                                    tr.text-center
                                                        td Recubridora
                                                        td.p-1 B63
                                                    tr.text-center
                                                        td Zig-zag
                                                        td.p-1 135 x 5
                                                    tr.text-center
                                                        td Dos agujas
                                                        td.p-1 135 x 5
                                                    tr.text-center
                                                        td Fileteadora
                                                        td.p-1 B27
                                .col-12.border-bot-morado
                                    .row.my-4
                                        h3.mb-0 Punta de aguja
                                    p.mt-5 Determina el tipo de tejido a coser, desde el más fino hasta el más pesado. 
                                        .col-12.ml-1.ml-md-4.mb-4 
                                            a(href="media/documentos/PuntasdeDesplazamiento_Groz-Beckert.pdf", target="_blank") 
                                                .col-12.col-md-7.mt-5.rounded.bg-morado-ligero
                                                    .row.py-3.px-3 
                                                        .col.d-none.d-lg-flex 
                                                            img(src="assets/images/icons/anexo-button.svg").img-fluid
                                                        .col-9.col-md-10.align-self-center.text-white 
                                                            p #[strong Recurso.] Puntas de desplazamiento Groz-Beckert    

            .container.pl-1.pl-md-5
                .header-ecored 
                    h2#tema-26.texto-morado 2.6 Relación de elementos de costura: tela, aguja, puntada, hilo, ajuste.        
                .row.px-4
                    .col-12
                        h3.mt-5.mb-0 Tejidos 
                        p.mt-5.mr-4 Un tejido es una estructura formada por fibras textiles. Esta estructura se puede lograr de tres formas diferentes que, de alguna manera, dividen los procedimientos de trabajo. Se identifican: tejido plano o de calada, tejido de punto y técnicas de aglutinamiento.     
                        .row.mt-5 
                            .col-11.rounded.bg-naranja.py-3
                                .row 
                                    .col-2.d-none.d-md-flex.py-3.ml-2.ml-5.text-right 
                                        img(src="assets/images/pages/tema-5/tema-5-18.svg").img-fluid
                                    .col-12.col-md-9.py-4.pt-lg-5.px-4.text-left.texto-morado 
                                        h3 Tejido plano
                                        p Es el que se lleva a cabo en una máquina llamada telar y que consiste en entrelazar dos hilos normalmente formando un ángulo recto. Uno de los hilos es la urdimbre y el otro es la trama. El tejido plano puede trabajarse al hilo, al través o al bies. Los ligamentos usados para la elaboración del tejido plano son los que dan origen a las diferentes telas (Sarga, Tafetán, Satén, Gasa, Crepé, Felpa.)
                            .col-11.rounded.bg-morado-ligero.py-3.mt-4
                                .row 
                                    .col-2.d-none.d-md-flex.py-3.ml-2.ml-5.text-right 
                                        img(src="assets/images/pages/tema-5/tema-5-19.svg").img-fluid
                                    .col-12.col-md-9.py-4.pt-lg-5.px-4.text-left.text-white 
                                        h3 Tejido de punto
                                        p Está formado por mallas, bucles o puntos. Consiste en pasar una lazada de hilo sobre una aguja y luego pasarla a otra aguja. El caso más claro para entenderlo es el tejido de dos agujas que se hace de forma manual, que se entrelaza el mismo hilo formando una sola estructura, es importante entender que en este tipo de tejido hay un solo hilo largo. Los ligamentos básicos del tejido de punto son: Jersey, franela, franela perchada, el rib, interlock, pique. Las telas de tejido de punto son difíciles de manejar, resbalan al cortarlas y estiran fácilmente, y se adaptan muy bien al cuerpo.
                            .col-11.rounded.bg-morado-oscuro.py-3.mt-4
                                .row 
                                    .col-2.d-none.d-md-flex.py-3.ml-2.ml-5.text-right 
                                        img(src="assets/images/pages/tema-5/tema-5-20.svg").img-fluid
                                    .col-12.col-md-9.py-4.pt-lg-5.px-4.text-left.text-white 
                                        h3 Por aglutinamiento de fibras
                                        p Son telas que se fabrican con fibras naturales o artificiales que no han pasado por procesos de hilatura y que se humedecen y se someten a presión y calor lo cual hace que las fibras se adhieran.        
                        .row.mt-5 
                            .col-12.mb-5 
                                h3.mb-0 Hilos 
                                p.mt-5 Representa un 2% del costo de la prenda, pero comparte un 50% de la durabilidad de las costuras.
                            .col-12.col-md-5.offset-0.offset-md-1.text-center 
                                img(src="assets/images/pages/tema-5/tema-5-21.svg").img-fluid
                            .col-12.col-md-5.mt-5.mt-md-0.text-center
                                img(src="assets/images/pages/tema-5/tema-5-22.svg").img-fluid
                .row.mt-5.px-1.px-md-5 
                    .col-12.col-md-6 
                        p.texto-25.font-weight-bold El hilo se hace utilizando #[strong.texto-morado fibras naturales o sintéticas]  
                    .col-12.col-md-5.mt-4.mt-md-0.pr-5 
                        p El poliéster es uno de los hilos más utilizados. Es más fuerte que los hilos de algodón de un tamaño comparable, y está disponible en una amplia variedad de tamaños y colores.
                    .col-12.mt-5.text-center 
                        img(src="assets/images/pages/tema-5/tema-5-23.svg").img-fluid
                    .col-12.mt-5 
                        p El hilo con núcleo más usado tiene una construcción de capa múltiple, con cada capa hecha de un centro de filamento de poliéster con fibras de algodón o poliéster recubierto alrededor del núcleo. En esta estructura de hilo #[strong influye la fortaleza del filamento poliéster y la facilidad de costura del recubrimiento de fibra de algodón o poliéster.]
                        p.mt-5  El hilo con alma generalmente se usa en la costura a alta velocidad de muchos tipos de prenda, especialmente los que requieren alta fortaleza de costura. Los hilos de filamento son más fuertes que los hilos de fibra corta de la misma fibra y tamaño. Se usan comúnmente tres tipos de hilos de filamento.
                .row.mt-5 
                    .col-12.col-md-11.mx-5
                        #accordionExample.accordion.mt-5
                            .card
                                #heading9.card-header
                                    h2.mb-0
                                        button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapse9', aria-expanded='true', aria-controls='collapse9').pl-0
                                            p.mb-0.collapsable-title.d-flex.align-items-center.texto-morado Hilo #[strong.ml-2 monofilamento]
                                #collapse9.collapse.show(aria-labelledby='heading9', data-parent='#accordionExample')
                                    .card-body.pt-0
                                        .row.px-1.px-md-5.border-bot-morado.pb-4
                                            .col-12.col-md-3.my-1.text-center
                                                img(src="assets/images/pages/tema-5/tema-5-24.svg").img-fluid
                                            .col-12.col-md-9.pl-4
                                                p Se hace de #[strong una sola fibra continua de un grosor especificado.] Aunque el monofilamento es fuerte, uniforme y poco costoso de hacer, carece de flexibilidad y tiene una sensación tiesa y áspera. Como resultado, su uso normalmente se restringe a #[strong bastillas, cortinas, y muebles tapizados.]
                            .card
                                #heading10.card-header
                                    h2.mb-0
                                        button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapse10', aria-expanded='true', aria-controls='collapse10').pl-0
                                            p.mb-0.collapsable-title.d-flex.align-items-center.texto-morado Hilo #[strong.ml-2 multifilamento suave]
                                #collapse10.collapse.show(aria-labelledby='heading10', data-parent='#accordionExample')
                                    .card-body.pt-0
                                        .row.px-1.px-md-5.border-bot-morado.pb-4
                                            .col-12.col-md-3.my-1.text-center
                                                img(src="assets/images/pages/tema-5/tema-5-25.svg").img-fluid
                                            .col-12.col-md-9.pl-4
                                                p Se elabora comúnmente de #[strong nylon o poliéster] y se usa donde el requisito primordial de la costura es la fortaleza. Consta de dos o más filamentos continuos torcidos juntos. Se usa comúnmente para #[strong coser zapatos, prendas de cuero, y productos industriales.] 
                            .card
                                #heading11.card-header
                                    h2.mb-0
                                        button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapse11', aria-expanded='true', aria-controls='collapse11').pl-0
                                            p.mb-0.collapsable-title.d-flex.align-items-center.texto-morado Hilo de #[strong.ml-2 filamento texturizado]
                                #collapse11.collapse.show(aria-labelledby='heading11', data-parent='#accordionExample')
                                    .card-body.pt-0
                                        .row.px-1.px-md-5.border-bot-morado.pb-4
                                            .col-12.col-md-3.my-1.text-center
                                                img(src="assets/images/pages/tema-5/tema-5-26.svg").img-fluid
                                            .col-12.col-md-9.pl-4
                                                pSe Se hace usualmente de #[strong poliéster] y se usa primordialmente como el hilo de lanzadera para puntadas de cobertura. Los filamentos texturizados le dan más cobertura y extensibilidad a la fibra, pero #[strong hace que el hilo esté más sujeto a enredarse.]
                    .col-12.col-md-8.offset-0.offset-md-2.mt-5 
                        p #[strong ▪  Algodón:]  es la parte del hilo que va a estar en contacto con la piel e impide que se produzcan irritaciones o incomodidades, ya que sus características son suavidad, absorbente y fresco.
                        p.mt-3 #[strong ▪  Poliéster:]  la fibra que va por el centro o es el núcleo del hilo, aporta elasticidad, es decirla capacidad de aumentar considerablemente su dimensión sin romperse.
                        p.mt-3 #[strong ▪  Mercerizado:]  es un acabado que le dan al hilo consistente en bañarlo en una solución de soda caustica, con la intensión de dotarlo de brillo, suavidad y resistencia.
                        p.mt-3 #[strong ▪  Lubricado:]  es un acabado final que le deben dar al hilo para evitar su rotura al estar en contacto con la aguja.
                    .col-12.mt-5
                        h3.mb-0 Tamaño de hilo y aplicaciones
                        .col-12.col-md-10.offset-md-1.mt-5.align-self-center.text-center 
                            .col-12.my-3 
                                table(style='width:100%')
                                    tr.text-white.bg-morado-oscuro.text-center
                                        th.py-3 Tejido
                                        th TEX
                                        th Prenda 
                                    tr.text-center.border-bottom.border-secondary
                                        td.pt-4.pb-2 Liviano
                                        td.pt-4.pb-2 24, 25, 27
                                        td.pt-4.pb-2 Blusas, ropa interior
                                    tr.text-center.border-bottom.border-secondary
                                        td.py-2 Semipesado
                                        td.py-2 30, 35, 40
                                        td.py-2 Pantalones, overol drill
                                    tr.text-center
                                        td.py-2 Pesado
                                        td.py-2 60, 70 hasta 120
                                        td.py-2 Jeans, chaquetas
                        p.mt-5 Cuando los conceptos están claros dentro del proceso de confección, se procede a fortalecer las relaciones o eslabones que van a permitir que la cadena de confección tenga la fortaleza suficiente de producción, confección y calidad. Con base en las premisas anteriores, existen combinaciones o relaciones entre los eslabones que nos permiten tener un panorama más apropiado a la hora de la confección de un producto; por lo tanto, presente un informe de las relaciones HILO –AGUJA e HILO – TEJIDO según sus conocimientos.
                        .col-12.text-center.mt-5 
                            img(src="assets/images/pages/tema-5/tema-5-27.svg").img-fluid
                        .col-11.rounded.bg-naranja.mt-5 
                            .row 
                                .col.d-none.d-md-flex.py-3.offset-lg-1.text-right 
                                    img(src="assets/images/pages/tema-2/tema-2-27.svg").img-fluid
                                .col-12.col-md-9.py-4.pt-lg-5.pr-4.text-left 
                                    p.texto-morado La relación hilo-agujas #[strong permite que se produzcan las puntadas con sus series y tipos respectivos, los tipos y usos de los pespuntes, las puntadas por pulgada y sus criterios de calidad según el proceso,] entre otros.
                    .col-12.mt-5 
                        h3.mb-0 Puntadas 
                        p.mt-5 En las diferentes líneas de producción de hoy, las puntadas son fundamentales en el valor agregado que pueda tener un producto, tanto por su calidad, durabilidad, seguridad, elongación y sobre todo por su apariencia y decoración de un producto, con base en ello, las puntadas tienen unas características diferentes, aquí algunas más representativas. Por lo tanto, las características se definen según el tipo de puntada:
                    .col-12.col-md-10.offset-md-1.mt-5.align-self-center.text-center 
                        .col-12.my-3 
                            table(style='width:100%')
                                tr.text-white.bg-morado-oscuro.text-center
                                    th.py-3 Serie
                                    th Tipo
                                    th Características 
                                tr.text-center.border-bottom.border-secondary
                                    td.pt-4.pb-2 100
                                    td.pt-4.pb-2 101 - 103
                                    td.pt-4.pb-2 Cadeneta sencilla - 1 hilo
                                tr.text-center.border-bottom.border-secondary
                                    td.py-2 200
                                    td.py-2 
                                    td.py-2 Ornamentales
                                tr.text-center
                                    td.py-2 300
                                    td.py-2 301 - 304 - 315
                                    td.py-2 Doble despunte
                                tr.text-center
                                    td.py-2 400
                                    td.py-2 401 - 406 - 407
                                    td.py-2 Cadeneta doble
                                tr.text-center
                                    td.py-2 500
                                    td.py-2 504 - 514 - 516
                                    td.py-2 Sobrehilado
                                tr.text-center
                                    td.py-2 600
                                    td.py-2 602 - 605 - 609
                                    td.py-2 Flatseamers
                        p.mt-5 Reglas para la óptima resistencia de las costuras:
                .row.mt-5 
                    .col-12.col-md-4
                        img(src="assets/images/pages/tema-5/tema-5-28.svg").img-fluid
                    .col-12.col-md-4
                        img(src="assets/images/pages/tema-5/tema-5-29.svg").img-fluid
                    .col-12.col-md-4
                        img(src="assets/images/pages/tema-5/tema-5-30.svg").img-fluid
                    .col-12
                        p.mt-5 La relación hilo-tejido permite que #[strong se produzcan las costuras con sus tipos, características y usos respectivos], de acuerdo con criterios de calidad del proceso.

        .container.px-1.px-md-5
                .header-ecored
                    h2#tema-27.texto-morado 2.7 Calibrar
                .row.px-1.px-md-4 
                    .col-12
                        p.mt-5 Ahora se presentarán aspectos fundamentales para la puesta a punto de las máquinas y en lo primero que se debe centrar la atención es en los enhebrados y sus repercusiones. A continuación, se expone mapas de enhebrado de cada tipo de máquina y calibración de la puntada.
                        .row
                            .col-12.mt-5
                                h3.mb-0.mt-5 Enhebrados de máquina plana, enhebrado caja bobina y ajuste de tensión de puntada.
                                h2.mt-5.texto-morado Máquina plana    
                            .col-12.p-5.bg-gris-claro.texto-morado 
                                .row
                                    .col-12.col-md-8
                                        h3.mb-0 Enhebrado de máquina
                                        p.mt-5 ▪  Girar el volante para que la barra de la aguja quede en su punto más alto
                                        p ▪  Pasar el hilo por los puntos 1, 2, 3.
                                        p ▪  Pasar el hilo por el disco de tensión por los puntos 4, 5, 6, 7
                                        p ▪  Pasar el hilo por el estirador del hilo 8
                                        p ▪  Pasar el hilo por las guías 9, 10 y 11.
                                        p ▪  Finalmente pase el hilo por el orificio de la aguja 12 de izquierda a derecha, dejando el hilo por debajo y atrás del pie prénsatela.
                                    .col-12.col-md-4 
                                        img(src="assets/images/pages/tema-6/tema-6-1.svg").img-fluid
                        .row.mt-5
                            .col-6.col-md-3 
                                img(src="assets/images/pages/tema-6/tema-6-2.svg").img-fluid
                            .col-6.col-md-3 
                                img(src="assets/images/pages/tema-6/tema-6-3.svg").img-fluid
                            .col-6.col-md-3 
                                img(src="assets/images/pages/tema-6/tema-6-4.svg").img-fluid
                            .col-6.col-md-3 
                                img(src="assets/images/pages/tema-6/tema-6-5.svg").img-fluid
                        .row.mt-5 
                            .col-12.col-md-6.mt-5 
                                h3.mb-0 Enhebrado caja bobina 
                                p.mt-5 ▪  Coloque la bobina llena en la caja de bobina, dejando el hilo con un sobrante de 10 cm aproximadamente.
                                p ▪  Pase el hilo por la ranura de la caja de la bobina. 
                                p ▪  Hale el hilo por debajo del muelle de tensión. #[strong La alimentación debe ser en sentido contrario a las manecillas del reloj.]
                            .col-12.col-md-6.align-self-center.mt-5 
                                img(src="assets/images/pages/tema-6/tema-6-6.svg").img-fluid
                        .row.mt-5
                            .col-12.mt-5      
                                h3.mb-0 Ajuste de tensión de la caja bobina
                            .col-12.col-md-4.col-lg-3.mt-5.offset-md-1.offset-lg-2 
                                .row 
                                    .col-2.col-md-3.col-lg-2.p-3.offset-5.offset-md-4.rounded-circle.bg-naranja.text-center
                                        h3.mb-0.texto-morado C
                                .row.mt-4 
                                    .col-8.col-md-11.col-lg-9.p-2.offset-2.offset-md-0.text-center.rounded-pill.borde-morado-oscuro 
                                        p C - #[strong pone tensión]     
                            .col-12.col-md-3.mt-5.text-center
                                img(src="assets/images/pages/tema-6/tema-6-7.svg").img-fluid
                            .col-12.col-md-4.col-lg-3.mt-5
                                .row 
                                    .col-2.col-md-3.col-lg-2.p-3.offset-5.offset-md-4.rounded-circle.bg-naranja.text-center
                                        h3.mb-0.texto-morado D
                                .row.mt-4 
                                    .col-8.col-md-11.col-lg-9.p-2.offset-2.offset-md-0.text-center.rounded-pill.borde-morado-oscuro 
                                        p D - #[strong retira tensión] 

                        .row.mt-5.ml-4
                            .col-12.mt-5 
                                h3.mb-0 Verificación de tensión de la caja bobina
                            .row.mt-5 
                                .col-4 
                                    img(src="assets/images/pages/tema-6/tema-6-8.svg").img-fluid
                                .col-8 
                                    img(src="assets/images/pages/tema-6/tema-6-9.svg").img-fluid
                        .row.mt-5 
                            .col-12.mt-5  
                                h2.mb-0.texto-morado Máquina fileteadora
                            .col-12.col-md-7.mt-5 
                                h3.mb-0 Enhebrado máquina fileteadora
                                p.mt-5 ▪  Girar el volante para que la barra de la aguja quede en su punto más alto
                                p ▪  Pasar el hilo por los puntos 1, 2, 3.
                                p ▪  Pasar el hilo por el disco de tensión por los puntos 4, 5, 6, 7
                                p ▪  Pasar el hilo por el estirador del hilo 8
                                p ▪  Pasar el hilo por las guías 9, 10 y 11.
                                p ▪  Finalmente pase el hilo por el orificio de la aguja 12 de izquierda a derecha, dejando el hilo por debajo y atrás del pie prénsatela.
                            .col-12.col-md-5 
                                img(src="assets/images/pages/tema-6/tema-6-10.svg").img-fluid
                        .row.mt-5
                            .col-12.mt-5  
                                h3.mb-0 Ajuste de tensión máquina fileteadora - Enhebrado de máquina
                            .col-12.col-md-5.mt-5.offset-md-1 
                                img(src="assets/images/pages/tema-6/tema-6-11.svg").img-fluid
                            .col-12.col-md-5.mt-5.offset-md-1 
                                img(src="assets/images/pages/tema-6/tema-6-12.svg").img-fluid
                            .col-12.col-md-5.mt-5.offset-md-1 
                                img(src="assets/images/pages/tema-6/tema-6-13.svg").img-fluid
                            .col-12.col-md-5.mt-5.offset-md-1 
                                img(src="assets/images/pages/tema-6/tema-6-14.svg").img-fluid
                            .col-12.col-md-5.mt-5.offset-md-1 
                                img(src="assets/images/pages/tema-6/tema-6-15.svg").img-fluid
                            .col-12.col-md-5.mt-5.offset-md-1 
                                img(src="assets/images/pages/tema-6/tema-6-16.svg").img-fluid
                            .col-12.col-md-5.mt-5.offset-md-1 
                                img(src="assets/images/pages/tema-6/tema-6-17.svg").img-fluid
                            .col-12.col-md-5.mt-5.offset-md-1 
                                img(src="assets/images/pages/tema-6/tema-6-18.svg").img-fluid
                            .col-12.col-md-5.mt-5.offset-md-4
                                img(src="assets/images/pages/tema-6/tema-6-19.svg").img-fluid
                        .row.mt-5 
                            .col-12.mt-5 
                                h3.mb-0 Validación de tensores - Puntada e hilo
                            .col-12.col-md-5.offset-1.mt-5
                                .row 
                                    .col-12.p-2.rounded.bg-gris 
                                        p #[strong Tensión correcta] de puntada en máquina fileteadora
                                    .col-12.mt-3 
                                        img(src="assets/images/pages/tema-6/tema-6-20.svg").img-fluid
                            .col-12.col-md-5.offset-1.mt-5
                                .row 
                                    .col-12.p-2.rounded.bg-gris 
                                        p #[strong Tensión incorrecta]  del hilo de la aguja
                                    .col-12.mt-3 
                                        img(src="assets/images/pages/tema-6/tema-6-21.svg").img-fluid
                            .col-12.col-md-5.offset-1.mt-5
                                .row 
                                    .col-12.p-2.rounded.bg-gris 
                                        p #[strong Tensión incorrecta] del looper superior
                                    .col-12.mt-3 
                                        img(src="assets/images/pages/tema-6/tema-6-22.svg").img-fluid
                            .col-12.col-md-5.offset-1.mt-5
                                .row 
                                    .col-12.p-2.rounded.bg-gris 
                                        p #[strong Tensión incorrecta] del looper inferior
                                    .col-12.mt-3 
                                        img(src="assets/images/pages/tema-6/tema-6-23.svg").img-fluid
                        .row.mt-5.pl-2 
                            .col-12.mt-5 
                                h3.mb-0 Enhebrado de máquina recubridora - Ajuste de tensión
                            .col-12.col-md-5.offset-md-1.mt-5
                                img(src="assets/images/pages/tema-6/tema-6-24.svg").img-fluid
                            .col-12.col-md-6.align-self-center.mt-5
                                .row 
                                    .col-11.rounded-pill.bg-morado-oscuro.text-white.p-3.text-center 
                                        p Máquina recubridora (collarín) - Enhebrado de máquina
                        .row.mt-5 
                            .col-12.mt-5 
                                h3.mb-0 Validación de tensores - Puntada e hilo
                            .col-12.col-md-5.offset-md-1.mt-5 
                                img(src="assets/images/pages/tema-6/tema-6-25.svg").img-fluid
                            .col-12.col-md-5.offset-md-1.mt-5 
                                img(src="assets/images/pages/tema-6/tema-6-26.svg").img-fluid
                        .row.mt-5 
                            .col-12.mt-5 
                                h3.mb-0 Puntadas por pulgada PPP
                                p.mt-5 Cuando se están escribiendo las especificaciones de una prenda, se debe especificar la cantidad apropiada de puntadas por pulgada (PPP) que deben ser usadas en su producto de costura, porque la cantidad de puntadas por pulgada puede tener influencia en:
                            .col-11.offset-1.col-md-12.offset-lg-0 
                                .row.text-center 
                                    .col-5.col-md-3.mt-5.ml-md-4.pt-3.rounded-pill.bg-morado-ligero.texto-naranja 
                                        p #[strong Resistencia] de la costura
                                    .col-5.col-md-3.mt-5.ml-md-3.pt-3.offset-1.rounded-pill.bg-morado-ligero.texto-naranja 
                                        p #[strong Apariencia] de la pulgada
                                    .col-8.col-md-5.mt-5.ml-md-3.pt-3.offset-2.rounded-pill.bg-morado-ligero.texto-naranja 
                                        p #[strong Eslasticidad de la costura] en telas
                        .row.mt-5 
                            .col-12.mt-5 
                                h3.mb-0 Resistencia de la costura
                        .row.mt-5.px-1 
                            .col-12.col-md-5.mb-5 
                                p.texto-25.font-weight-bold #[strong.texto-morado La resistencia de la costura] depende de un número de factores que incluyen:
                            .col-12.col-md-5.offset-md-1.mt-4.mt-md-0.pr-5.font-weight-bold 
                                p ▪  Tipo y peso de la tela
                                p ▪  Construcción de la puntada y la costura
                                p ▪  Puntadas por pulgada
                                p ▪  Tipo y dimensión del hilo
                                p ▪  Balance de la puntada (tensión del hilo)
                        .row.mt-5.border-bot-morado 
                            .col-12.rounded.bg-naranja-claro.texto-morado.mb-5 
                                .row.p-5 
                                    .col-3.d-none.d-md-flex.mt-5 
                                        img(src="assets/images/pages/tema-6/tema-6-27.svg").img-fluid
                                    .col-12.col-md-8 
                                        p Generalmente, #[strong entre más puntadas por pulgada, mayor es la resistencia de la costura.] Existen algunos casos donde agregar puntadas por pulgada puede causar daño a la tela de forma que la costura es debilitada, esto solamente pasa en textiles específicos que pueden ser fácilmente dañados por excesivas penetraciones de la aguja.
                                        p.mt-5 #[strong El tamaño de la puntada es medida contando la cantidad de entradas de la aguja en la tela dentro de una pulgada.] Existen diferentes contadores de puntadas que hacen esta medida fácil. De igual manera, usted puede colocar una cinta métrica enseguida del pespunte y hacer la misma función en 2.54 cm que es el equivalente a una pulgada.  
                        .row.my-5 
                            .header-ecored 
                                h2#tema-28.mb-0.texto-morado 2.8 Desarrollo de operaciones básico para ensamble de piezas
                            .col-12.mt-5 
                                p Para realizar los ejercicios en máquina de coser familiar o industrial, se requieren 4 bandas de tela con las siguientes características; #[strong 1mt de largo por 10 cms de ancho;] preferiblemente una de las bandas de tela que tenga líneas con las características que se describen más adelante.
                                p.mt-5 En la primera banda de tela, se trabaja sin aguja, en este ejercicio se hará pasar la tela por el pie prénsatelas a lo largo de toda la banda de tela, presionando el pedal suavemente para iniciar el ejercicio, la presión del pie sobre el pedal irá aumentando la velocidad en la máquina haciendo avanzar la tela, y debe procurar que la tela se conserve una línea recta, y que no se salga del control del prénsatelas. Realizar el ejercicio sin aguja e hilo, practicar hasta lograr una velocidad controlada e inicia el recorrido ajustando la perilla del largo de la puntada en el número 2 y luego a 3 y así sucesivamente hasta lograr tener un control dirigido de la tela en su máximo largo de puntada.
                            .col-12.text-center.mt-5 
                                img(src="assets/images/pages/tema-6/tema-6-28.svg").img-fluid
                            .col-12.mt-5 
                                h3.mb-0.texto-morado ▪ Ejercicio de control de pedal, arranque y parada
                                p.mt-5 Se trabaja con aguja, ya dominando la velocidad y la rectitud del pespunte, se procederá a dominar la parada en el sitio exacto, en este caso la banda se divide en 5 rectángulos de 20 cm de largo por 10 cm de ancho. #[strong Este ejercicio debe realizarlo usando las bandas con las marcas o rayas que se muestra en la imagen de referencia.] La idea del ejercicio se centra en parar en cada vértice del ángulo, clavar la aguja, girar la banda y continuar el recorrido hasta terminar el ejercicio y los 5 rectángulos; en este ejercicio obtendremos dominio de pedal, control de freno y arranque en puntos exactos.
                            .col-12.text-center.mt-5 
                                img(src="assets/images/pages/tema-6/tema-6-29.svg").img-fluid
                            .col-12.mt-5 
                                h3.mb-0.texto-morado ▪ Ejercicio de control de pedal, arranque y parada, calidad de la costura y remate o presilla
                                p.mt-5 Para este ejercicio, trabaja con aguja e hilo. Este ejercicio #[strong debe realizarlo usando las bandas con las marcas o rayas que se muestra en la imagen de referencia.] La idea del ejercicio se centra en iniciar con un remate de 3 a 4 puntadas máximo.
                            .col-12.text-center.mt-5 
                                img(src="assets/images/pages/tema-6/tema-6-30.svg").img-fluid
                            .col-12.mt-5 
                                p.mt-5 Luego, debe realizarlo usando las bandas con las marcas o rayas que se muestra a continuación. #[strong La idea del ejercicio se centra en iniciar con un remate de 3 a 4 puntadas máximo;] después se inicia el pespunte y antes y después de cada vértice del ángulo se hace el remate de nuevo, clava la aguja en todo el vértice del ángulo, gira la banda para darle calidad de puntadas en los ángulos y continuar el recorrido hasta terminar el ejercicio y los 5 rectángulos.
                            .col-12.text-center.my-5 
                                img(src="assets/images/pages/tema-6/tema-6-30.svg").img-fluid